# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/*.settings
/*.project
/*.classpath
/*/.settings
/*/.project
/*/.classpath
/*/target
/*/*/.settings
/*/*/.project
/*/*/.classpath
/*/*/target
/selene-viewing/selene-viewing-admin/.externalToolBuilders/*.launch
