<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.merchants.provider.dao.MerchantsUserRoleMapper">
	<resultMap id="resultMap" type="com.selene.merchants.model.MerchantsUserRole">
		<result property="id" column="ID" />
		<result property="groupId" column="Group_ID" />
		<result property="userId" column="User_ID" />
	</resultMap>
	
	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO 
			merchants_user_role(Group_ID,User_ID)
		VALUES
			<foreach collection="list" item="item" index="index" separator=",">
				(#{item.groupId},#{item.userId})
			</foreach>
	</insert>

	<select id="findGroupIdsByUserId" resultType="java.lang.Integer">
		SELECT 
			Group_ID
		FROM 
			merchants_user_role 
		WHERE 
			User_ID=#{userId}
	</select>
	
	<select id="findAdminGroupIdsByUserId" resultType="java.lang.Integer">
		SELECT DISTINCT
			b.ID 
		FROM 
			merchants_user_role a ,merchants_role b 
		WHERE 
			a.Group_ID=b.ID AND b.All_Admin_Authority=1 AND a.User_ID=#{userId}
	</select>

	<select id="findUserIdsByGroupId" resultType="java.lang.Integer">
		SELECT 
			User_ID 
		FROM
			merchants_user_role 
		WHERE 
			Group_ID=#{groupId}
	</select>

	<delete id="deleteByGroupId">
		DELETE FROM 
			merchants_user_role 
		WHERE 
			Group_ID=#{groupId}
	</delete>

	<delete id="deleteByUserId">
			DELETE FROM 
				merchants_user_role 
			WHERE 
				User_ID=#{userId}
	</delete>
</mapper>