<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.merchants.provider.dao.MerchantsRoleMapper">
	<resultMap id="resultMap" type="com.selene.merchants.model.MerchantsRole">
		<result property="id" column="ID" />
		<result property="license" column="License"/>
		<result property="name" column="Name" />
		<result property="code" column="Code" />
		<result property="allDataAuthority" column="All_Data_Authority" />
		<result property="allAdminAuthority" column="All_Admin_Authority" />
		<result property="allFrontAuthority" column="All_Front_Authority" />
		<result property="defaultPageType" column="Default_Page_Type"/>
		<result property="defaultPageId" column="Default_Page_ID" />
		<result property="defaultPageUrl" column="Default_Page_Url" />
		<result property="secretLevel" column="Secret_Level" />
		<result property="memo" column="Memo" />
		<result property="createTime" column="Create_Time" />
		<result property="creatorId" column="Creator_ID" />
		<result property="updateTime" column="Update_Time" />
		<result property="updaterId" column="Updater_ID" />
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
			merchants_role(
				License,Name,Code,All_Data_Authority,All_Admin_Authority,All_Front_Authority,Default_Page_Type,Default_Page_ID,
				Default_Page_Url,Secret_Level,Memo,Create_Time,Creator_ID,Update_Time,Updater_ID
			)
		VALUES(
				#{license},#{name},#{code},#{allDataAuthority},#{allAdminAuthority},#{allFrontAuthority},#{defaultPageType},
				#{defaultPageId},#{defaultPageUrl},#{secretLevel},#{memo},#{createTime},#{creatorId},#{updateTime},#{updaterId}
		)
	</insert>
	
	<select id="find" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT 
			ID,License,Name,Code,All_Data_Authority,All_Admin_Authority,All_Front_Authority,Default_Page_Type,
			Default_Page_ID,Default_Page_Url,Secret_Level,Memo,Create_Time,Creator_ID,Update_Time,Updater_ID
		FROM 
			merchants_role 
		WHERE 
			ID=#{id}
	</select>
	
	<select id="findByName" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Name,Code,All_Data_Authority,All_Admin_Authority,All_Front_Authority,Default_Page_Type,
			Default_Page_ID,Default_Page_Url,Secret_Level,Memo,Create_Time,Creator_ID,Update_Time,Updater_ID
		FROM 
			merchants_role 
		WHERE
			Name=#{name} AND License=#{license}
	</select>
	
	<select id="findByCode" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Name,Code,All_Data_Authority,All_Admin_Authority,All_Front_Authority,Default_Page_Type,
			Default_Page_ID,Default_Page_Url,Secret_Level,Memo,Create_Time,Creator_ID,Update_Time,Updater_ID
		FROM 
			merchants_role 
		WHERE
			Code=#{code} AND License=#{license}
	</select>
	
	<select id="findByUserId" resultMap="resultMap" parameterType="java.util.Map">
		SELECT DISTINCT 
			a.ID,a.Name,a.Code,a.All_Data_Authority,a.All_Admin_Authority,a.All_Front_Authority,a.Default_Page_Type,
			a.Default_Page_ID,a.Default_Page_Url,a.Secret_Level,a.Memo,a.Create_Time,a.Creator_ID,a.Update_Time,a.Updater_ID
		FROM 
			merchants_role a,merchants_user_role b 
		WHERE 
			License=#{license} AND a.ID=b.Group_ID AND b.User_ID=#{userId} 
	</select>
	
	<select id="findPageByName" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Name,Code,All_Data_Authority,All_Admin_Authority,All_Front_Authority,Default_Page_Type,
			Default_Page_ID,Default_Page_Url,Secret_Level,Memo,Create_Time,Creator_ID,Update_Time,Updater_ID
		FROM 
			merchants_role 
		WHERE 
			License=#{license}
			<if test="name != null">AND Name like "%"#{name}"%"</if>
		LIMIT #{first},#{size}
	</select>
	
	<select id="countByName" resultType="int" parameterType="java.util.Map">
		SELECT 
			COUNT(*) 
		FROM 
			merchants_role 
		WHERE 
			License=#{license}
			<if test="name != null">AND Name like "%"#{name}"%"</if>
	</select>
	
	<select id="findByLicense" resultMap="resultMap" parameterType="java.lang.String">
		SELECT 
			ID,Name,Code,All_Data_Authority,All_Admin_Authority,All_Front_Authority,Default_Page_Type,
			Default_Page_ID,Default_Page_Url,Secret_Level,Memo,Create_Time,Creator_ID,Update_Time,Updater_ID
		FROM 
			merchants_role 
		WHERE 
			License=#{license}
	</select>
	
	<delete id="batchDelete" parameterType="java.util.List">
		DELETE FROM 
			merchants_role 
		WHERE ID 
			IN
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>

	<delete id="delete">
		DELETE FROM 
			merchants_role 
		WHERE 
			ID=#{id}
	</delete>

	<update id="update">
		UPDATE 
			merchants_role 
		<set>
			<if test="name != null">Name=#{name},</if>
			<if test="Code != null">CODE=#{code},</if>
			<if test="allDataAuthority != null">All_Data_Authority=#{allDataAuthority},</if>
			<if test="allAdminAuthority != null">All_Admin_Authority=#{allAdminAuthority},</if>
			<if test="allFrontAuthority != null">All_Front_Authority=#{allFrontAuthority},</if>
			<if test="defaultPageId != null">Default_Page_ID=#{defaultPageId},</if>
			<if test="defaultPageType != null">Default_Page_Type=#{defaultPageType},</if>
			<if test="defaultPageUrl != null">Default_Page_Url=#{defaultPageUrl},</if>
			<if test="secretLevel != null">Secret_Level=#{secretLevel},</if>
			<if test="memo != null">Memo=#{memo},</if>
			<if test="updaterId != null">Updater_ID=#{updaterId},</if>
			<if test="updateTime != null">Update_Time=#{updateTime}</if>
		</set>
		WHERE 
			ID=#{id}
	</update>
</mapper>