<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.merchants.provider.dao.MerchantsLoginTokenMapper">
	<resultMap id="resultMap" type="com.selene.merchants.model.MerchantsLoginToken">
		<result property="id" column="ID" />
		<result property="userId" column="User_ID" />
		<result property="loginTime" column="Login_Time" />
		<result property="redisKey" column="Redis_Key" />
		<result property="token" column="Token" />
		<result property="refreshToken" column="Refresh_Token" />
		<result property="secretKey" column="Secret_Key" />
	</resultMap>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			merchants_login_token(User_ID,Login_Time,Redis_Key,Token,Refresh_Token,Secret_Key)
		VALUES
			(#{userId},#{loginTime},#{redisKey},#{token},#{refreshToken},#{secretKey})
	</insert>
	
	<select id="find" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT
			 ID,User_ID,Login_Time,Redis_Key,Token,Refresh_Token,Secret_Key
		FROM 
			merchants_login_token 
		WHERE 
			ID = #{id} 
	</select>

	<select id="findByUserId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT
			 ID,User_ID,Login_Time,Redis_Key,Token,Refresh_Token,Secret_Key
		FROM 
			merchants_login_token 
		WHERE 
			User_ID = #{userId} 
	</select>
	
	<update id="update">
		UPDATE 
			merchants_login_token 
		<set>
			<if test="loginTime != null">Login_Time=#{loginTime},</if>
			<if test="redisKey != null">Redis_Key=#{redisKey},</if>
			<if test="token != null">token=#{Token},</if>
			<if test="refreshToken != null">Refresh_Token=#{refreshToken},</if>
			<if test="secretKey != null">Secret_Key=#{secretKey}</if>
		</set>
		WHERE 
			ID=#{id}
	</update>
</mapper>