<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.selene.dataing.provider.dao.DataingDataTableMapper">
	<resultMap id="resultMap" type="com.selene.dataing.model.DataingDataTable">
		<result property="id" column="ID" />
		<result property="baseId" column="Base_ID" />
		<result property="name" column="Name" />
		<result property="rowCount" column="Row_Count" />
	</resultMap>

	<select id="findByBaseId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT 
			ID,Base_ID,Name,Row_Count
		FROM 
			data_table 
		WHERE 
			Base_ID = #{dbId}
		ORDER BY
			ID
	</select>
	
	<select id="findByName" resultMap="resultMap" parameterType="java.lang.String">
		SELECT 
			ID,Base_ID,Name,Row_Count
		FROM 
			data_table 
		WHERE 
			Name = #{tableName}
		ORDER BY
			ID
	</select>
	
	<select id="find" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT 
			ID,Base_ID,Name,Row_Count
		FROM 
			data_table 
		WHERE 
			ID = #{id}
		ORDER BY
			ID
	</select>
	
	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
			data_table(Base_ID,Name,Row_Count)
		VALUES
			(#{baseId},#{name},#{rowCount})
	</insert>

	<update id="update">
		UPDATE 
			data_table
		<set>
			<if test="baseId != null">Base_ID = #{baseId},</if>
			<if test="name != null">Name =  #{name},</if>
			<if test="rowCount != null">Row_Count = #{rowCount}</if>
		</set>
		WHERE 
			ID=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM 
			data_table 
		WHERE 
			ID=#{id}
	</delete>
</mapper>