<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.dataing.provider.dao.DataingDataFieldMapper">
	<resultMap id="resultMap" type="com.selene.dataing.model.DataingDataField">
		<result property="id" column="ID" />
		<result property="componentId" column="Component_ID" />
		<result property="name" column="Name" />
		<result property="code" column="Code" />
		<result property="codeName" column="Code_Name" />
		<result property="dataType" column="Data_Type" />
		<result property="nosg" column="Nosg" />
		<result property="leng" column="Leng" />
		<result property="prec" column="Prec" />
		<result property="mand" column="Mand" />
		<result property="uniq" column="Uniq" />
		<result property="multiValue" column="Multi_Value" />
		<result property="useEnum" column="Use_Enum" />
		<result property="indexType" column="Index_Type" />
		<result property="indexStore" column="Index_Store" />
		<result property="required" column="Required" />
		<result property="type" column="Type" />
		<result property="orderId" column="Order_ID" />
		<result property="accessType" column="Access_Type" />
		<result property="forDisplay" column="For_Display" />
		<result property="forOrder" column="For_Order" />
		<result property="memo" column="Memo" />
	</resultMap>
	
	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			data_field(
				Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
				Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
			)
		VALUES
			(
				#{componentId},#{name},#{code},#{codeName},#{dataType},#{nosg},#{leng},#{prec},#{mand},#{uniq},#{multiValue},#{useEnum},
				#{indexType},#{indexStore},#{required},#{type},#{orderId},#{accessType},#{forDisplay},,#{forOrder},#{memo}
			)
	</insert>

	<select id="findPageByName" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE
			Name like "%"#{name}"%" 
		 LIMIT 
		 	#{first},#{size}
	</select>
	
	<select id="countByName" resultType="int" parameterType="java.lang.String" >
		SELECT 
			COUNT(*) 
		FROM 
			data_field
		WHERE
			Name like "%"#{name}"%" 
	</select>
	
	<select id="findPage" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		 LIMIT 
		 	#{first},#{size}
	</select>
	
	<select id="count" resultType="int" parameterType="java.lang.Boolean" >
		SELECT 
			COUNT(*) 
		FROM 
			data_field
	</select>
</mapper>