<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.dataing.provider.dao.DataingDataModelFieldMapMapper">
	<resultMap id="resultMap" type="com.selene.dataing.model.DataingDataModelFieldMap">
		<result property="id" column="ID" />
		<result property="modelId" column="Model_ID" />
		<result property="fieldId" column="Field_ID" />
	</resultMap>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			data_model_field_map(Model_ID,Field_ID)
		VALUES
			(#{modelId},#{fieldId})
	</insert>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO 
			data_model_field_map(Model_ID,Field_ID)
		VALUES
			<foreach collection="list" item="item" index="index" separator=",">
				(#{item.modelId},#{item.fieldId})
			</foreach>
	</insert>

	<select id="find" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT 
			ID,Model_ID,Field_ID 
		FROM 
			data_model_field_map
		WHERE 
			ID=#{id}
	</select>
	
	<select id="findByModelId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT 
			ID,Model_ID,Field_ID 
		FROM 
			data_model_field_map
		WHERE 
			Model_ID=#{modelId}
	</select>

	<delete id="delete">
		DELETE FROM 
			data_model_field_map 
		WHERE 
			ID= #{id}
	</delete>

	<delete id="deleteByModelId" parameterType="java.lang.Integer">
		DELETE FROM 
			data_model_field_map 
		WHERE 
			Model_ID=#{modelId}
	</delete>
</mapper>