<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.dataing.provider.dao.DataingDataTaskSubMapper">
	<resultMap id="resultMap" type="com.selene.dataing.model.DataingDataTaskSub">
		<result property="id" column="ID" />
		<result property="taskId" column="Task_ID" />
		<result property="subtaskName" column="Subtask_Name" />
		<result property="subtaskType" column="Subtask_Type" />
		<result property="subtaskTarget" column="Subtask_Target" />
		<result property="subtaskStatus" column="Subtask_Status" />
		<result property="subtaskProgress" column="Subtask_Progress" />
		<result property="subtaskMemo" column="Subtask_Memo" />
		<result property="creatorId" column="Creator_ID" />
		<result property="createTime" column="Create_Time" />
		<result property="updaterId" column="Updater_ID" />
		<result property="updateTime" column="Update_Time" />
	</resultMap>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			data_task_sub(Task_ID,Subtask_Name,Subtask_Type,Subtask_Target,Subtask_Status,Subtask_Progress,Subtask_Memo,Creator_ID,Update_Time,Updater_ID,Update_Time)
		VALUES
			(#{taskId},#{subtaskName},#{subtaskType},#{subtaskTarget},#{subtaskStatus},#{subtaskProgress},#{subtaskMemo},#{creatorId},#{createTime},#{updaterId},#{updateTime})
	</insert>
	
	<select id="findByTaskId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT
			Task_ID,Subtask_Name,Subtask_Type,Subtask_Target,Subtask_Status,Subtask_Progress,Subtask_Memo,Creator_ID,Update_Time,Updater_ID,Update_Time
		FROM
			data_task_sub
		WHERE
			Task_ID=#{taskId}
	</select>
	
	<select id="findByTaskIdAndStatus" resultMap="resultMap" parameterType="java.util.Map">
		SELECT
			Task_ID,Subtask_Name,Subtask_Type,Subtask_Target,Subtask_Status,Subtask_Progress,Subtask_Memo,Creator_ID,Update_Time,Updater_ID,Update_Time
		FROM
			data_task_sub
		WHERE
			Task_ID=#{taskId} AND Subtask_Status=#{status}
	</select>
	
	<select id="findByTaskIdAndTypeAndStatus" resultMap="resultMap" parameterType="java.util.Map">
		SELECT
			Task_ID,Subtask_Name,Subtask_Type,Subtask_Target,Subtask_Status,Subtask_Progress,Subtask_Memo,Creator_ID,Update_Time,Updater_ID,Update_Time
		FROM
			data_task_sub
		WHERE
			Task_ID=#{taskId} AND Subtask_Type=#{type} AND Subtask_Status=#{status}
	</select>
	
	<update id="update">
		UPDATE 
			data_task_sub
		<set>
			<if test="subtaskStatus != null">Subtask_Status = #{subtaskStatus},</if>
			<if test="subtaskProgress != null">Subtask_Progress = #{subtaskProgress},</if>
			<if test="subtaskMemo != null">Subtask_Memo = #{subtaskMemo},</if>
			<if test="updaterId != null">Updater_ID = #{updaterId},</if>
			<if test="updateTime != null">Update_Time = #{updateTime}</if>
		</set>
		WHERE 
			ID=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM 
			data_task_sub 
		WHERE 
			ID= #{id}
	</delete>
</mapper>