<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selene.dataing.provider.dao.DataingDataFieldMapper">
	<resultMap id="resultMap" type="com.selene.dataing.model.DataingDataField">
		<result property="id" column="ID" />
		<result property="componentId" column="Component_ID" />
		<result property="name" column="Name" />
		<result property="code" column="Code" />
		<result property="codeName" column="Code_Name" />
		<result property="dataType" column="Data_Type" />
		<result property="nosg" column="Nosg" />
		<result property="leng" column="Leng" />
		<result property="prec" column="Prec" />
		<result property="mand" column="Mand" />
		<result property="uniq" column="Uniq" />
		<result property="multiValue" column="Multi_Value" />
		<result property="useEnum" column="Use_Enum" />
		<result property="indexType" column="Index_Type" />
		<result property="indexStore" column="Index_Store" />
		<result property="required" column="Required" />
		<result property="type" column="Type" />
		<result property="orderId" column="Order_ID" />
		<result property="accessType" column="Access_Type" />
		<result property="forDisplay" column="For_Display" />
		<result property="forOrder" column="For_Order" />
		<result property="memo" column="Memo" />
	</resultMap>
	
	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			data_field(
				Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
				Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
			)
		VALUES
			(
				#{componentId},#{name},#{code},#{codeName},#{dataType},#{nosg},#{leng},#{prec},#{mand},#{uniq},#{multiValue},#{useEnum},
				#{indexType},#{indexStore},#{required},#{type},#{orderId},#{accessType},#{forDisplay},,#{forOrder},#{memo}
			)
	</insert>
	
	<select id="find" resultMap="resultMap" parameterType="java.lang.Integer" >
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE
			ID =#{id} 
	</select>

	<select id="findPageByName" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE
			Name like "%"#{name}"%" 
		 LIMIT 
		 	#{first},#{size}
	</select>
	
	<select id="countByName" resultType="int" parameterType="java.lang.String" >
		SELECT 
			COUNT(*) 
		FROM 
			data_field
		WHERE
			Name like "%"#{name}"%" 
	</select>
	
	<select id="findPage" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		 LIMIT 
		 	#{first},#{size}
	</select>
	
	<select id="count" resultType="int" parameterType="java.lang.Boolean" >
		SELECT 
			COUNT(*) 
		FROM 
			data_field
	</select>
	
	<select id="findByName" resultMap="resultMap" parameterType="java.lang.String" >
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE
			Name =#{name} 
	</select>
	
	<select id="findByCode" resultMap="resultMap" parameterType="java.lang.String" >
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE
			Code =#{code} 
	</select>
	
	<select id="findFieldsByBaseId" resultMap="resultMap" parameterType="java.lang.Integer" >
		SELECT
		  	DISTINCT
		  	m.ID,m.Component_ID,m.Name,m.Code,m.Code_Name,m.Data_Type,m.Nosg,m.Leng,m.Prec,m.Mand,Uniq,m.Multi_Value,m.Use_Enum,
			m.Index_Type,m.Index_Store,m.Required,m.Type,m.Order_ID,m.Access_Type,m.For_Display,m.For_Order,m.Memo
		FROM
		  data_field m,
		  data_base n,
		  data_base_field_map t
		WHERE 
			m.ID=t.Field_ID AND n.ID=t.Base_ID AND n.ID=#{baseId}
	</select>
	
	<select id="findByRequired" resultMap="resultMap" parameterType="boolean">
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE 
			Required = #{required}
	</select>
	
	<select id="findByType" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT 
			ID,Component_ID,Name,Code,Code_Name,Data_Type,Nosg,Leng,Prec,Mand,Uniq,Multi_Value,Use_Enum,
			Index_Type,Index_Store,Required,Type,Order_ID,Access_Type,For_Display,For_Order,Memo
		FROM 
			data_field
		WHERE 
			Type = #{type}
	</select>
	
	<select id="findDisplayFieldsByModelId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT DISTINCT
			f.ID,f.Component_ID,f.Name,f.Code,f.Code_Name,f.Data_Type,f.Nosg,f.Leng,f.Prec,f.Mand,f.Uniq,f.Multi_Value,f.Use_Enum,
			f.Index_Type,f.Index_Store,f.Required,f.Type,f.Order_ID,f.Access_Type,f.For_Display,f.For_Order,f.Memo
		FROM
		  data_field f
		 LEFT JOIN 
		 	data_model_field_map m
		 ON 
		 	m.Field_ID = f.ID
		 LEFT JOIN 
		 	data_model c
		 ON 
		 	m.Model_ID = c.ID
		WHERE 
			f.For_Display = 1 AND c.ID =#{modelId}
		ORDER BY 
			f.ID
	</select>
	
	<select id="findFieldsByModelId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT
		  	f.ID,f.Component_ID,f.Name,f.Code,f.Code_Name,f.Data_Type,f.Nosg,f.Leng,f.Prec,f.Mand,f.Uniq,f.Multi_Value,f.Use_Enum,
			f.Index_Type,f.Index_Store,f.Required,f.Type,f.Order_ID,f.Access_Type,f.For_Display,f.For_Order,f.Memo
		FROM
		  data_field f, data_model c, data_model_field_map m
		WHERE 
			m.Model_ID = c.ID AND m.Field_ID = f.ID AND c.ID = 1
		ORDER BY 
			f.ID
	</select>
</mapper>